#SearchResults{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    color: white;
    background-color: #26327877;
    margin: 2em 2em 2em 1em;
    width: max-content;
    border: solid;
    border-color: white;
    text-align: center;
}

.songTitle{
    font-weight: bold;
    padding: 0 1em;
}

.songInfo{
    padding: 0 1em;
}

#add-button{
    color: white;
    background-color: #26327877;
    width: 1.5em;
    font-size: 1em;
    border-radius: 1.5em;
    border: solid;
    border-color: white;
    margin: 0 1em;
}

#add-button:hover{
    color: #263278;
    background-color: white;
    border-color: #263278;
    cursor: pointer;
}