header{
  border: solid;
  border-color: white;
  background-color: #26327877;
  padding: 1em 0 1em 1em;
  margin: 1em;
  width: max-content;
  display: flex;
  letter-spacing: 1em;
  flex-direction: row;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

header h1{
  margin: 0;
}

#songs{
  display: flex;
  flex-wrap: wrap; 
  padding: 2em 0 0 0;
  justify-content: space-around;
  align-items: center;
}

.divider{
  background-color: #26327877;
  height: .5em;
  border: solid;
  border-color: white;
  width: 100%;
}