header{
  border: solid;
  border-color: white;
  background-color: #26327877;
  padding: 1em 0 1em 1em;
  margin: 1em;
  width: max-content;
  display: flex;
  letter-spacing: 1em;
  flex-direction: row;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

header h1{
  margin: 0;
}